*{
margin:0px;
padding:0px;

}
#wrapper{
width:100%;
margin-top:200px;
margin-left:0px;
margin-right:0px;
}

@media(min-width:768px){
#page-content-wrapper{
position:absolute;
left:10%;
width:80%;
word-wrap:break-word;
}
}
@media(max-width:768px){
#page-content-wrapper{
position:absolute;
left:0px;}
}
a:hover{
text-decoration:none;
}



