*{
margin:0px;
padding:0px;

}
#wrapper{
width:100%;
margin-top:100px;
margin-left:0px;
margin-right:0px;
}
@media(min-width:768px){
#sidebar-wrapper{
position:absolute;
width:25%;
height:100%;
background-color:black;
position:fixed;
z-index:5;
}
#sidebar-wrapper li{
line-height:30px;
list-style:none;
width:100%;
text-align:center;
}


#sidebar-wrapper li:hover{
background-color:#ED0000;

cursor:pointer;
}
.sidebar-nav{
margin:0px;
padding:0px;
}

#page-content-wrapper{
position:absolute;
left:26%;
width:74%;

}
}
@media(max-width:768px){
#page-content-wrapper{
position:absolute;
left:4px;}
}
a:hover{
text-decoration:none;
}



